body{
	margin: 0;
	padding: 0;
}

.top-nav{
	width: 100%;
	height: 100px;
	border-bottom: 4px solid #fafafa;
	position: relative;
  clear: both;
	z-index: -1;
}

.top-logo-area{
	float: left;
	margin-left: 20em;
	margin-top: 2.5em;
	
}
.top-name{
	float: left;
	text-decoration: none;
	font-size: 1.4em;
}

span a{
	float: right;
	border: 1px solid black;
	padding: .5em;
	border-radius: 4px;
	margin-right: 2em;
	margin-top: -4.5em;
	width: 3.5em;
	text-align: center;
	text-decoration: none;
	background-color: transparent;
	color: black;
	transition: .5s;
	z-index: 1;
}

span a:hover{
	cursor: pointer;
	background-color: black;
	color: white;
	transition: .5s;
}

span #btn-sign-in{
	margin-right: 8em;
}

.field-sign-in{
	margin-top: 5em;
	margin-left: 5em;
	padding: 5em;
	height:em;
	width: 20em;
	border: 4px solid #fafafa;
	position: relative;
	
}

.field-sign-in input{
	border-top: none;
	border-left: none;
	border-right: none;
	width: 25em;
	margin-bottom: 3em;
	
}

.field-sign-in input[type="submit"]{
	border: 1px solid #fafafa;
	height: 3em;
	width: 25em;
	margin-bottom: .5em;
	border-radius: 5px;
	transition: .5s;
	background-color: ;
	
}

.field-sign-in input[type="submit"]:hover{
	border: 1px solid black;
	height: 3em;
	width: 25em;
	margin-bottom: .5em;
	border-radius: 5px;
	background-color: black;
	color: #fafafa;
	transition: .5s;
	
}

