input{
	border-top: none;
	border-left: none;
	border-right: none;
	width: 25em;
	margin-bottom: 3em;
	
}

input[type="submit"]{
	border: 1px solid #fafafa;
	height: 3em;
	width: 25em;
	margin-bottom: .5em;
	border-radius: 5px;
	transition: .5s;
	background-color: ;
	
}

input[type="submit"]:hover{
	border: 1px solid black;
	height: 3em;
	width: 25em;
	margin-bottom: .5em;
	border-radius: 5px;
	background-color: black;
	color: #fafafa;
	transition: .5s;
	
}

form a{
  text-decoration: none;
	margin-left: 7em;
	color: green;
}

.form{
	margin-top: 5em;
	margin-left: 30em;
}